{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{block "title" .}}{{end}}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/assets/css/style.css" />
    {{block "styles" .}}{{end}}
  </head>
  <body>
    {{template "nav"}}
    <main class="container">{{block "content" .}}{{end}}</main>
    <script src="/assets/js/app.js"></script>
    {{block "scripts" .}}{{end}}
  </body>
</html>
{{end}}
